@import url(bootstrap.min.css);
body {  
    
}


@import url(bootstrap.min.css);
@import url(line-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
@import url(aos.css);
:root {
  --color-body: #000000;
  --color-heading: #2C3E50;
  --color-base: #192A56;
  --color-base2: #efebe7;
  --color-brand: #bc8997;
  --color-brand2: #F39C12;
  --sidebar-width: 450px;
}


*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--color-base2);
    color: var(--color-body);
   
    /* background: linear-gradient(45deg, #f2eee1 0%,#e5cdb3 44%,#e5cdb3 44%,#e5cdb3 61%,#e5cdb3 77%,#e2c09c 98%); */
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);

}

/* General CSS */

.center{
    text-align: center;
    align-items: center;
}

.padding{
    padding-top: 20px;
}

.padding-left{
    padding-left: 30px;
}

.padding-right{
padding-right: 30px;
}

a{
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;

}

a:hover{
    color: var(--color-brand);
}

/* Image CSS*/

img{
    width: 100%;
}





#pic{
    border: 4px solid #272626;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(1, 1, 1, 0.2);
}

/*Navbar CSS*/
.navbar .nav-link {
  color: whitesmoke;
}

.navbar .nav-link:hover {
  color: var(--color-brand);
}

.navbar-nav .nav-link.active {
  color: var(--color-brand);
}

#content-wrapper {
  padding-left: 0;
  transition: padding-left 0.3s ease;
}

#hamburger-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  display: block;
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidebar-width);
    background: linear-gradient(#192A56, #333);
    font-size: 30px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  }

  #content-wrapper {
    padding-left: var(--sidebar-width);
  }

  #hamburger-menu {
    display: none;
  }
}

.navbar.active {
  width: 100%;
}



/* Button */
.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.custom-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #272626; 
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.custom-button:hover {
    background-color: #f0baa3; 
    color: #000000;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}


.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Smooth shadow */
    border-radius: 15px;  /* Rounded corners */
  }

  
  
  .card {
    border: none;  /* Removes default border if any */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Adds deeper shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px); /* Slight lift on hover */
    box-shadow: 0 6px 16px #000000; /* Darker shadow on hover */
  }

  .card-body {
    flex-grow: 1;
}

.card-img{
  height: 200px;
}

.container {
    padding: 20px;
}

.search-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}
  

  /* Search Bar */
  .search-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    position: absolute;
    left: 50%;
}
.search-input {
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    border-radius: 25px;
}
.search-button {
    background: #333;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 18px;
}
.search-button:hover {
    background: #555;
}

/* Footer */

.footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    padding-left: 10%;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .git-profile {
    display: flex;
    align-items: center;
  }
  
  .links {
    margin-left: 5px;
    color: #bc8997;;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .links:hover {
    text-decoration: underline;
    color: #F39C12;
  }
  
  .footer-nav {
    display: flex;
    gap: 20px;
  }
  
  .footer-nav .nav-link:hover {
    color: #c5788d;
  }
  
  .footer-nav .nav-link.active {

    color: #F39C12;
  }
  
  p{
    font-size: 30px;
  }

  .line{
    display: inline;
  }

  .uline{
    text-decoration: underline;
    color: #392a03;
  }

  .fnt1{
    font-family: 'Courier New', Courier, monospace;
  }
  .fnt2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .fnt3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .fnt4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .fnt5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .fnt6{
    font-family:'Times New Roman', Times, serif;
  }
  .fnt7{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .fnt8{
    font-family:Arial, Helvetica, sans-serif;
  }
  .fnt9{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .fnt10{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .fnt11{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .fnt12{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .ld{
    font-weight: bold;
    text-decoration: underline;
    
  }

  /* GIT IMAGE */
  table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.git-section {
    justify-content: space-between;
    width: 100%;
    padding: 50px;
}

.git-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.git-text a {
    font-size: 35px;
}

.git-section img {
    width: 400px;
    height: auto;
    border-radius: 5%;
}

video {
    width: 500px;
    height: auto;
    border-radius: 5%;
}