body {
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #f2eee1 0%,#e5cdb3 44%,#e5cdb3 44%,#e5cdb3 61%,#e5cdb3 77%,#e2c09c 98%);
    
}

@media(min-width: 992px){
.navbar {
    display: flex;
    background: linear-gradient(to bottom, #c19e67 4%,#e9d4b3 13%,#c19e67 59%,#e9d4b3 94%);
   
    padding: 15px;
    text-align: center;
    align-self: self-end;
   
    
   
}}

/* 

/* navbar with a href*/
.navbar a{
     color: rgba(0, 0, 0, 0.847);
     padding: 13px 16px;
     text-decoration: none; /*to remove the line */
     
     
}

/*nav bar with hover*/
.navbar a:hover{
    background-color: #4d4c4c;
    border-radius: 4px;
}

.navbar img{
    height: 50px;
    margin-left: 10px;
    

}

#imgshadow{
    box-shadow: #4d4c4c;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    flex: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#text{
    flex:1;
}

#aside{
 flex-shrink: 0;
 display: flex;
 
}

#aside img{
    height: 240px;
    display: flex;
    bottom: 20%;
 
}

#cck p{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 22px;
 padding: 10px;
}
footer{
    background: linear-gradient(to bottom, #c19e67 4%,#e9d4b3 13%,#c19e67 59%,#e9d4b3 94%);
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    bottom: 0%;
    position: relative;

}
#links-text{
    text-align: center;
    margin-top: 50px;

}

#links-box{
    display: inline-block;
    color: pink;
    background:#333;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s;

}

#links-box:hover{
    background: pink;
    color: #333;
} */

marquee{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
 
#courses {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 20px; 
    padding: 10px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: relative; 
    font-family: Georgia;
    width: 200;
}

#aside-courses {
    width: inherit ;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 20px; 
    flex-shrink: 0;

    position: relative;
}

#aside-courses h3 {
    width: inherit ;
    position: absolute;
    top: -5px; 
    left: 250px; 
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap; 
}

#aside-courses img {
    width: inherit;
    height: inherit; 
    object-fit: cover;
    border-radius: 70%; 
}

.padding-left{
    padding-left: 20px;
}



